<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur LyricS</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main id="homepage">
        <div>
            <h1>LyricS</h1>
            <a href="/auth/spotify" class="original-button">Se lancer</a>
        </div>
        <div id="sub-button">
            <p>Créez. Consultez. Découvrez. <br/>Tout ça de façon pratique.</p>
        </div>
    </main>
</body>

</html>